<section id="publications" class="post mt-5 pt-4" style="border-top: 1px solid var(--global-divider-color);">
  <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit">publications</a></h2>
  <div class="publications">
    {% bibliography --group_by none %}
  </div>
</section>
